theme = Catppuccin Frappe

font-family = JetBrainsMono Nerd Font
font-size = 12
adjust-cell-height = 15%
font-thicken = true

background-opacity = 0.95
background-blur-radius = 20

window-padding-x = 12
window-padding-y = 12
macos-titlebar-style = tabs
macos-option-as-alt = false

cursor-style = block
copy-on-select = clipboard
cursor-style-blink = false
shell-integration-features = no-cursor

keybind = ctrl+t=new_tab
keybind = ctrl+up=previous_tab
keybind = ctrl+down=next_tab
keybind = ctrl+shift+up=move_tab:-1
keybind = ctrl+shift+down=move_tab:1
keybind = ctrl+left=esc:b
keybind = ctrl+right=esc:f
